.Home-app > div {
  top: 50%;
  left: 50%;
  gap: 1rem;
  width: 80vw;
  display: flex;
  position: absolute;
  justify-content: center;
  transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
  .Home-app > div {
    flex-direction: column;
  }
}