:root {
  --color1: #F4EEFF;
  --color2: #DCD6F7;
  --color3: #A6B1E1;
  --color4: #424874;
}

.Home-app {
  min-height: 100vh;
  background-color: var(--color1);
}

.Books-app,
.Add-book,
.Edit-app,
.Register-app,
.Login-app {
  min-height: 100vh;
  background-color: #eee;
}

.Add-book {
  position: relative;
}